.nav-bg {
  background-color: #202020;
  height: 15vh;

  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.ul-header {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-heading {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  margin-right: 10px;
}
.nav-button {
  background-color: #6366f1;
  color: #ffffff;
  border-width: 0px;
  border-radius: 3px;
  font-family: 'Roboto';
  width: 80px;
  height: 40px;
}
.nav-img {
  width: ;
}
